@config "../../tailwind.config.ts";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  background-image: url("/asfalt-light.png");
  --background: rgba(249, 249, 249, 1);
}

.fixed {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.nav-links > a {
  position: relative;
}

.nav-links > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.temp-note > a {
  position: relative;
}

.temp-note > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.temp-note > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

* {
  box-sizing: border-box;
}

.font-body {
  color: #e0e0e0;
  font-size: 1em;
  line-height: calc(1.5 * 1rem);
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
}

.font-special {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25em;
  line-height: 1.25rem;
  font-weight: 700;
  font-style: normal;
}

.font-navButton {
  color: #f9f9f9;
  font-size: 1.25em;
  line-height: calc(1.2 * 1.25rem);
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
}

.font-small {
  font-size: 0.75em;
  line-height: 1.25rem;
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
}

.font-button {
  text-align: center;
  font-size: 1.25em;
  line-height: calc(1.2 * 1.25rem);
  font-style: normal;
}

.font-title {
  text-align: center;
  font-size: 4em;
  line-height: 5.25rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.6px;
}

.btnColor {
  background-color: #007bff;
}

.btnColor:hover {
  background-color: #0066cc;
}

@font-face {
  font-family: "Sansation";
  src: url(/Fonts/Sansation_Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Sansation";
  src: url(/Fonts/Sansation_Regular.woff2);
  font-weight: 400;
}

h4 {
  font-size: 3em !important;
  line-height: 3.5rem;
  letter-spacing: -0.03em;
}

.margin-negative-top {
  margin-top: -5rem !important;
}

@media only screen and (max-width: 1100px) {
  .font-body {
    font-size: 0.75em;
    line-height: calc(1.5 * 0.75rem);
    font-weight: 400;
  }

  .font-title {
    font-size: 3em;
    line-height: 4rem;
  }

  .font-special {
    font-size: 0.9375em;
    line-height: 0.9375rem;
  }

  .font-small {
    font-size: 0.5625em;
    line-height: 0.9375rem;
    font-weight: 400;
  }

  .font-button {
    font-size: 0.9375em;
    line-height: calc(1.2 * 0.9375rem);
  }

  h4 {
    font-size: 2.25em !important;
    line-height: 2.265rem;
    letter-spacing: -0.015em;
  }

  #testimonials .font-body {
    font-size: 0.5em !important;
    line-height: calc(1.5 * 0.5rem) !important;
    font-weight: 400;
  }

  #testimonials .font-small {
    font-size: 0.375em !important;
    line-height: 0.625rem !important;
    font-weight: 400;
  }
}

@media (max-width: 1000px) {
  .icon:hover {
    transform: scale(1) translate(0px, 0px) !important;
  }
}

/* 1350px: tablet breakpoint */

@media only screen and (max-width: 1350px) {
  .font-body {
    font-size: 0.85em;
    line-height: calc(1.5 * 0.85em);
    font-weight: 400;
  }

  .font-small {
    font-size: 0.6375em;
    line-height: 1.0625rem;
    font-weight: 400;
  }

  .font-button {
    font-size: 1.0625em;
    line-height: calc(1.2 * 1.0625rem);
  }

  .font-special {
    font-size: 1.0625em;
    line-height: 1.0625rem;
  }

  h4 {
    font-size: 2.55em !important;
    line-height: 2.975rem;
    letter-spacing: -0.015em;
  }

  #testimonials .font-body {
    font-size: 1em;
    line-height: calc(1.5 * 1rem);
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
  }

  #testimonials .font-small {
    font-size: 0.75em;
    line-height: 1.25rem;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

body {
  background-color: var(--background) !important;
  color: #e0e0e0 !important;
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}

.wrapper {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Reset Reloaded (Common Practice) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  background-image: url("/asfalt-light.png"); /* Background image isnt even here */
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
  margin: 0;
  line-height: 1;
  color: black;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

.icon {
  transition: all 0.2s;
}
.icon:hover {
  transform: scale(1.5) translate(0px, -10px) !important;
}

.socials {
  display: flex;
  gap: 20px;
  justify-content: center;
}
