body {
  background-color: rgba(249, 249, 249, 1);
}

#speakers-title {
  margin-bottom: 3rem;
  margin-top: 42px;
  color: #fff;
}

.speakerCards {
  color: white;
  width: 33.5rem;
  min-width: 33.5rem;
  height: 12.5rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1100px) {
  #speakers-title {
    margin-bottom: -1rem;
    margin-top: -2.5rem;
  }

  .speakerCards {
    transform: scale(0.65) !important;
    margin-bottom: -1rem;
    margin-top: 0;
  }

  #speakers-container {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
  }

  #speakers-container1 {
    display: flex;
    flex-direction: column !important;
    margin-right: 0px !important;
  }

  .card-content {
    padding: 8px;
    padding-top: 8px !important;
  }
}

.speaker-name {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.speech-title {
  color: #dedede;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.speaker-description {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  padding-top: 8px;
}

.speaker-image {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  padding: 8px;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.speakerCards a {
  position: relative;
}

.speakerCards a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.speakerCards a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card-content {
  padding: 8px;
  padding-top: 18px;
}

#speakers-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#speakers-container1 {
  display: flex;
  flex-direction: column;
  margin-right: 96px;
}

#speakers-container2 {
  display: flex;
  flex-direction: column;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 12.5rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  width: 33.5rem;
  min-height: 12.5rem;
  flex-shrink: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #b5305b;
  border-radius: 16px;
  border-style: solid;
  border-color: #b5305b;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #b5305b;
  border-radius: 16px;
  border-style: solid;
  border-color: #b5305b;
  /* font-size: 16px;
  font-family: "Ubuntu", sans-serif; */
  padding: 8px;
}

.back-container {
  display: flex;
  flex-direction: column;
}

.instaDate-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 39px;
  color: #110d24;
}

.text-container {
  text-align: center;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}
