.adminContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.adminContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.nav {
  display: flex;
  gap: 5rem;
  flex-direction: row;
  border-bottom: "1px solid #ccc";
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  /* background-color: var(--background-start-rgb); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav > a {
  color: #e0e0e0;
  /* font-weight: 500; */
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow-y: hidden;
  transition: transform 0.3s ease-out;
}

/* Create the underline using ::after pseudo-element */
.nav > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  bottom: 0;
  left: 0;
  background-color: #e0e0e0; /* Same color as the text by default */
  border-radius: 10rem;
  transform: scaleX(0); /* Initially hidden */
  transform-origin: bottom right;
  transition: transform 0.3s ease-out; /* Smooth animation */
  color: #e0e0e0;
}

.nav > a:hover {
  transform: translateY(-2px);
}

/* Animate the underline */
.nav > a:hover::after {
  transform: scaleX(1); /* Expand the underline */
  transform-origin: bottom left;
}
