.footerLinks > a,
.footerLinksSecondary > a {
  position: relative;
}

.footerLinks > a::after,
.footerLinksSecondary > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footerLinksSecondary > a::after {
  background-color: #25d366;
}

.footerLinks > a::after {
  background-color: #fff;
}

.footerLinks > a:hover::after,
.footerLinksSecondary > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
