.footerLinks > a,
.footerLinksSecondary > a,
.policiesLinks > a {
  position: relative;
}

.footerLinks,
.footerLinksSecondary {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.footerLinks > a::after,
.footerLinksSecondary > a::after,
.policiesLinks > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.footerLinksSecondary > a::after {
  background-color: #25d366;
}

.footerLinks > a::after {
  background-color: #fff;
}

.policiesLinks > a::after {
  background-color: #b9b3e5;
}

.footerLinks > a:hover::after,
.footerLinksSecondary > a:hover::after,
.policiesLinks > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
