@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #333;
    --background-start-rgb: #fff;
    --background-end-rgb: #fff;
  }
}

html {
  color: var(--foreground-rgb);
  background: linear-gradient(
    45deg,
    #c33764,
    #1d2671
  ); /* Gradient background for visual interest */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
