@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #333;
    --background-start-rgb: #fff;
    --background-end-rgb: #fff;
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
