@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background-image: url(/asfalt-dark.png);
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Start with invisible */
  transition: opacity 0.3s ease; /* Animation for opening/closing */
  color: #333;
}
