/* Dashboard Container */
.dashboard {
  padding: 2rem;
  background-color: #f7f9fc; /* Light background color for contrast */
  min-height: 100vh; /* Full height for better alignment */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.dashboard h1 {
  font-size: 2.5rem;
  color: #333; /* Darker, professional color */
  margin-bottom: 0.5rem;
}

.dashboard h2 {
  font-size: 1.5rem;
  color: #555; /* Slightly lighter for subheading */
  margin-bottom: 0.5rem;
}

.detailContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  justify-content: start;
}

.deleteButton {
  background-color: #b02a37; /* Red for delete action */
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 999999999px;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteButton:hover {
  background-color: #8f1f2b; /* Darker red on hover */
}

.addButton {
  background-color: #014f86; /* Blue for add action */
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 999999999px;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton:hover {
  background-color: #013a5f; /* Darker blue on hover */
}

.memberCard input {
  border: none;
  outline: none;
  font-size: 1rem;
  color: #333; /* Darker text for better readability */
}

.memberCard {
  background-color: #fff; /* White background for cards */
  border-radius: 20px; /* Softer, rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 2px solid #014f86;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px; /* Limit width for better readability */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rushDateSelector span {
  font-size: 1rem;
  color: #000;
  padding: 4px 12px;
  border-radius: 100rem;
  background-color: #fff;
  border: 2px solid #014f86;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.rushDateSelector span:hover,
.rushDateSelector span.selected {
  background-color: #014f86; /* Light hover effect */
  color: #fff;
}

.activityItem {
  background-color: #fff; /* White background for cards */
  border-radius: 20px; /* Softer, rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 2px solid #014f86;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90vw;
  max-width: 600px; /* Limit width for better readability */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
