.ambiguousPopup {
  background-color: #f7f9fc;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: scale(0.9); /* Start with a slightly smaller scale */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Animation on transform and opacity */
  box-sizing: border-box;
}

.applicantName {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 27px;
  /* identical to box height */

  color: #000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.applicantEmail {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  width: min-content !important;
  white-space: nowrap;
  outline: none;
  cursor: text;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  transition: all 300ms ease-in-out;
}
.applicantCard {
  background-color: #ffffff;
  padding: 1em 1.3em;
  border-radius: 20px; /* Softer, rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    border 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  width: 100%;
}

.applicantCard.selected {
  border: 2px solid #1f9c5a;
}

.ticketType {
  text-decoration: none;
  position: relative;
  overflow-y: hidden;
}

.popupButtonsContainer button {
  color: #fff;
  padding: 4px 4px;
  text-align: center;
  border: none;
  border-radius: 100rem;
  /* aspect-ratio: 1; */
  font-size: 0.6em;
  font-family: "Poppins", sans-serif;
  scale: 1.5;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmButton {
  background-color: #1f9c5a;
}

.confirmButton:hover {
  background-color: #147a43;
}

.cancelButton {
  background-color: #b02a37;
}

.cancelButton:hover {
  background-color: #8f1f2b;
}
