body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.split-screen {
  display: flex;
  height: 100vh;
}


.left {
  flex: 4; 
  background: linear-gradient(135deg, #666666, rgb(108, 110, 113));
  color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left .content {
  max-width: 300px;
}

.left h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.left .price {
  font-size: 1.2rem;
  opacity: 0.9;
}


.right {
  flex: 6; 
  background: #E0E0E0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.right h2 {
  margin-bottom: 1rem;
}

.button2 {
  margin-top: 20px;
  background-color: white;
  border: 2px solid #1e90ff;
  color: #1e90ff;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  max-width: 300px;
}

.option {
  background-color: white;
  border: 2px solid #1e90ff;
  color: #1e90ff;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.option:hover,
.option.active, .button2:hover, .button2:active {
  background-color: #1e90ff;
  color: white;
}

.instructions {
  margin-top: 2rem;
  max-width: 300px;
  background: white;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .split-screen {
    flex-direction: column;
  }

  .left, .right {
  }

  .right {
    justify-content: flex-start;
    padding-top: 2rem;
  }
}